<!DOCTYPE html>
<html lang="en">
<head>
  <title>Daily Wire</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <!-- Announcement -->
    <header>
        <button><span class="dot"></span>NOW LIVE</button> DAILY WIRE BACKSTAGE MUELLER REPORT ENDGAME
    </header>

    <!-- Top Header -->

    <nav class="navbar navbar-expand-md  navbar-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <img src="../images/dailywire.png" alt="" class="logo">
            <div class="adtoggle adtogglesmall">
                <p>Advertisements</p>
                <button class=on><span class="spot"></span>ON</button>
                <button id="myBtn1">OFF</button>
                    <!-- The Modal -->
                    <div id="myModal1" class="modal">

                        <!-- Modal content -->
                        <div class="modal-content">
                        <span class="close1">&times;</span>
                        <h1>We're taking a whole new approach.</h1>
                        <h5>Start reading The Daily Wire WITHOUT ADS&sdot;</h5>
                        <h5><span>Try it FREE for 30 days!</span></h5>
                        <input type="text" class="email" placeholder="Your Email Address">
                        <input type="radio"  class="tos" name="tos" value="true"> By checking this box, I have read and agree to the Terms of Use and Privacy Policy and authorize Forward Publishing LLC to charge my card today for the subscription fee and in the future for renewal fees. *<br>
                        <button class="enter"> Get Started</button>
                        <p>Already a Member? <span>Login Now</span></p>
                        <p>&sdot;Internal promotions, recommended content, and ads that enhance the user experience may still be included on the site.

                        </p>
                    </div>

                </div>
            </div> 
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="#">News</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Podcasts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Authors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Store</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#">Login</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#"><span><i class="fa fa-search"></i></span></a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="#"><button id="headerSub">SUBSCRIBE</button></a>
                </li>   
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"> <span>&#10547</span></a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>Donald Trump</span></a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>Robert Mueller</span> </a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>Media Bias</span> </a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>Russia</span> </a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>William Barr</span> </a>
                </li>  
                <li class="nav-item smallnav">
                    <a class="nav-link" href="#"><span>Trump Administration</span> </a>
                </li>  
              </ul>
              
            </div> 
            <div class="adtoggle adtogglebig">
                    <p>Advertisements</p>
                    <button class=on><span class="spot"></span>ON</button>
                    <button id="myBtn2">OFF</button>
                        <!-- The Modal -->
                        <div id="myModal2" class="modal2">
    
                            <!-- Modal content -->
                            <div class="modal-content">
                            <span class="close2">&times;</span>
                            <h1>We're taking a whole new approach.</h1>
                            <h5>Start reading The Daily Wire WITHOUT ADS&sdot;</h5>
                            <h5><span>Try it FREE for 30 days!</span></h5>
                            <input type="text" class="email" placeholder="Your Email Address">
                            <input type="radio"  class="tos" name="tos" value="true"> By checking this box, I have read and agree to the Terms of Use and Privacy Policy and authorize Forward Publishing LLC to charge my card today for the subscription fee and in the future for renewal fees. *<br>
                            <button class="enter"> Get Started</button>
                            <p>Already a Member? <span>Login Now</span></p>
                            <p>&sdot;Internal promotions, recommended content, and ads that enhance the user experience may still be included on the site.
    
                            </p>
                        </div>
    
                    </div>
                </div> 
          </nav>
          <hr>
          <!-- LOWER HEADER -->
          <div id="topics">
            <ul>
              <li>&#10547</li>
              <li>Donald Trump</li>
              <li>&#x25A0</li>
              <li>Robert Mueller</li>
              <li>&#x25A0</li>
              <li>Media Bias</li>
              <li>&#x25A0</li>
              <li>Russia</li>
              <li>&#x25A0</li>
              <li>William Barr</li>
              <li>&#x25A0</li>
              <li>Trump Administration</li>
            </ul>
            <hr>
          </div>

          <div id="topadparent">
            <a href="#"><img src="../images/anotherkingdom.png" alt="" class="topad"></a>
          </div>
          <!-- FIRST CONTAINER -->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-8 colsix">
                  <a href="#"><img src="../images/abc.png" alt=""></a>
                  <h1>WALSH: Parents Who Let Their Toddlers Choose Their Own Genders Are Either Mentally Ill Or Evil</h1>
                  <p>By MATT WALSH</p>
              </div>
              <div class="col-sm-4 colone">
                  <div>
                    <a href="#"><img src="../images/othercontent.png" alt="" class="img"></a>
                    <label for="">
                        <p><span>Really? Mitch McConnell Calls Raising National Tobacco Age A 'Top Priority.'</span></p>
                        <p class="writtenby">By JOSH HAMMER</p>
                    </label>
                </div>
                <div>
                    <a href="#"><img src="../images/othercontent.png" alt="" class="img"></a>
                    <label for="">
                        <p><span>Really? Mitch McConnell Calls Raising National Tobacco Age A 'Top Priority.'</span></p>
                        <p class="writtenby">By JOSH HAMMER</p>
                    </label>
                </div>
                <div>
                    <p class="sponser"><span>S P O N S O R E D </span><span>C O N T E N T</span></p>
                </div>
                <div>
                    <a href="#"><img src="../images/othercontent.png" alt="" class="img"></a>
                    <label for="">
                        <p><span>Really? Mitch McConnell Calls Raising National Tobacco Age A 'Top Priority.'</span></p>
                        <p class="writtenby">By JOSH HAMMER</p>
                    </label>
                </div>
                <div>
                    <a href="#"><img src="../images/othercontent.png" alt="" class="img"></a>
                    <label for="">
                        <p><span>Really? Mitch McConnell Calls Raising National Tobacco Age A 'Top Priority.'</span></p>
                        <p class="writtenby">By JOSH HAMMER</p>
                    </label>
                </div>
              </div>
            </div>
          </div>

          <div id="banner">
              <a href="#"><img src="../images/banner.png" alt="" class="banner"></a>
          </div>
          <!-- SECOND CONTAINER -->
          <div class="container-fluid">
              <div class="row">
                <div class="col-sm-8 colone ">
                    <div>
                      <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                      <label>
                        <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                        <p class="writtenby">By HANK BERRIEN</p>
                      </label>
                    </div>
                    <div>
                      <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                      <label>
                        <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                        <p class="writtenby">By HANK BERRIEN</p>
                      </label>
                    </div>
                    <div>
                      <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                      <label>
                        <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                        <p class="writtenby">By HANK BERRIEN</p>
                      </label>
                    </div>
                    <div>
                      
                    </div>
                    <div class="slideAds topMobileAd" style="max-width: 260px;">
                        <img class="mySlides" src="../images/ad1.jpeg" style="width:250px; height: 150px;">
                        <img class="mySlides" src="../images/ad2.jpeg" style="width:250px; height: 150px;">
                        <img class="mySlides" src="../images/ad3.jpeg" style="width:250px; height: 150px;">
                      </div >
                      <div id="adLabel">
                        <label for="slideAds"  class="labelForAd">Advertisements <a href="#"><button>See More</button></a></label>
                      </div>
                      
                      <div>
                          <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                          <label>
                            <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                            <p class="writtenby">By HANK BERRIEN</p>
                          </label>
                        </div>
                        <div>
                          <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                          <label>
                            <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                            <p class="writtenby">By HANK BERRIEN</p>
                          </label>
                        </div>
                        <div>
                          <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                          <label>
                            <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                            <p class="writtenby">By HANK BERRIEN</p>
                          </label>
                        </div>
                        <div class="slideAds mobileAd" style="max-width:265px">
                            <img class="mySlides2" src="../images/ad3.jpeg" style="width:250px; height: 150px;">
                            <img class="mySlides2" src="../images/ad1.jpeg" style="width:250px; height: 150px;">
                            <img class="mySlides2" src="../images/ad2.jpeg" style="width:250px; height: 150px;">
                            <label for="slideAds">Advertisements <a href="#"><button>See More</button></a></label>
                        </div>
                                <!-- Show More -->
                        <div class="showMore">
                          <a href="#"><button >SHOW MORE</button></a>
                        </div>
                        
                </div>
                <div class="col-sm-4 colone" id="hotwire">
                    <p><span style="color: red; padding-left: 3vw">&#10547;</span> HOT WIRE</p>
                    <div class="top side">
                        <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                        <label>
                          <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                          <p class="writtenby">By HANK BERRIEN</p>
                        </label>
                      </div>
                      <div class="side">
                        <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                        <label>
                          <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                          <p class="writtenby">By HANK BERRIEN</p>
                        </label>
                      </div>
                      <div class="bottom side">
                        <a href="#"><img src="../images/morenewsstories.png" alt="" class="additionalcontent"></a>
                        <label>
                          <p><span>Eric Swalwell Taunts NRA That They Wont Debate Him. Dana Loesch Nails Him: 'I'm Your HuckleBerry'</span></p>
                          <p class="writtenby">By HANK BERRIEN</p>
                        </label>
                      </div>
                      <div class="rightPanelAd">
                        <div class="slideAds" style="max-width:500px">
                          <img class="mySlides3" src="../images/ad4.jpeg" style="width:490px; height: 541px;">
                          <img class="mySlides3" src="../images/ad5.jpeg" style="width:490px; height: 541px;">
                          <img class="mySlides3" src="../images/ad6.jpeg" style="width:490px; height: 541px;">
                        </div>
                    </div> 
                    <label for="slideAds" class="largeAd">Advertisements <a href="#"><button>See More</button></a></label>
                </div>
              </div>
            </div>
            <!-- FOOTER CONTENT -->
            <!-- <div class="footer"> -->
              <div class="container-fluid" id="footer">
                <div class="row top">
                  <div class="col-sm">
                      <p>Unlock video podcasts and watch <span>LIVE</span> 
                      <a href="#"><button>SUBSCRIBE</button></a></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                      <a href="#"><img src="../images/benshapiro.png" alt=""></a>
                      <p>Latest Episode <br>
                        <button><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                  </div>
                  <div class="col-sm-6">
                      <a href="#"><img src="../images/andrewklavan.png" alt=""></a>
                      <p>Latest Episode <br>
                        <button ><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#"><img src="../images/michaelknowles.png" alt=""></a>
                        <p>Latest Episode <br>
                          <button><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                    </div>
                    <div class="col-sm-6">
                        <a href="#"><img src="../images/mattwalsh.png" alt=""></a>
                        <p>Latest Episode <br>
                          <button><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <a href="#"><img src="../images/sundayspecial.png" alt=""></a>
                        <p>Latest Episode <br>
                          <button><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                    </div>
                    <div class="col-sm-6">
                        <a href="#"><img src="../images/conversation.png" alt=""></a>
                        <p>Latest Episode <br>
                          <button><i class="fa fa-play-circle-o" ></i> Ep.### - Latest</button></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm legal">
                      <a href="#"><img src="../images/dwblacklogo.png" alt=""></a>
                      <a href="#"><i class="fa fa-facebook" style="font-size:20px;color:white"></i></a>
                      <a href="#"><i class="fa fa-twitter" style="font-size:20px;color:white"></i></a>
                      <a href="#"><i class="fa fa-youtube-play" style="font-size:20px;color:white"></i></a>
                      <a href="#"><i class="fa fa-rss-square" style="font-size:20px;color:white;background-color: none"></i></a>
                      <a href="#" class="legalBtn">PRIVACY POLICY</a>
                      <a href="#" class="legalBtn">TERMS OF USE</a>
                      <a href="#" class="legalBtn">ADVERTISE WITH US</a>
                      <a href="#" class="legalBtn">BOOK OUR SPEAKERS</a>
                      <a href="#" class="legalBtn">CONTACT US</a>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm demo">
                        <p>WORKING DEMO. THIS SITE IS UNDER THE SOLE OWNERSHIP OF THE DAILY WIRE</p>
                        <p>AND IS ONLY BEING USED FOR A DEMONSTRATION OF THE SKILLS OF THE DEVELOPER</p>
                      </div>
                    </div>
              </div>
            <!-- </div> -->
          </div>
           
<!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>        -->
<script src="../js/home.js"></script>
</body>
</html>